# Ignore everything by default
*

# Track specific directories (unignore the directories themselves)
!tmux/
!nvim/
!yabai/
!skhd/
!karabiner/
!bat/
!zsh/
!bin/

# Now track files inside those directories
!tmux/**
!nvim/**
!yabai/**
!skhd/**
!karabiner/**
!bat/**

# Track specific files in root
!.gitignore
!README.md
!TODO.md


# Exclude specific unwanted files/directories
tmux/plugins/**
karabiner/automatic_backups/**
karabiner/assets/**
nvim/lazy-lock.json
