/**
 * Code Editor Layer
 * Specialized for nvim, tmux, and programming
 */

 / {
   keymap {
     compatible = "zmk,keymap";

     editor_layer {
       display-name = "Editor";
       bindings = <
// ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
// │0              │1              │2              │3              │4              │5              │   │6              │7              │8              │9              │10             │11             │
        &kp LG(S)   &kp LC(S)       &kp LC(W)       &kp LC(E)       &kp LC(R)       &vim_split_horz     &tmux_hsplit    &tmux_next      &tmux_prev      &tmux_sess      &tmux_copy      &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │12             │13             │14             │15             │16             │17             │   │18             │19             │20             │21             │22             │23             │
        &kp LG(A)   &kp LS(LA(S))   &kp LS(LA(D))   &kp LG(D)       &kp LG(F)       &vim_split_vert     &tmux_vsplit   &kp LS(LG(LBKT)) &kp LS(LG(RBKT)) &kp LC(G)      &kp LG(P)       &trans
// ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤
// │24             │25             │26             │27             │28             │29             │   │30             │31             │32             │33             │34             │35             │
        &trans      &kp LG(Z)       &kp LG(X)       &kp LG(C)       &kp LG(V)       &kp LC(O)           &kp COLON       &kp UNDER       &kp PLUS        &kp PIPE        &kp DE          &trans
// ╰───────────────┴───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────┴───────────────╯
//                                                 │36             │37             │38             │   │39             │40             │41             │
                                                    &trans          &trans          &trans              &trans          &mo Fn          &trans
//                                                 ╰───────────────┴───────────────┴───────────────╯   ╰───────────────┴───────────────┴───────────────╯
       >;
     };
   };
 };
